# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
eggs/
parts/
bin/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
.venv/
ENV/
env/
build/
develop-eggs/

# Pytest cache
.pytest_cache/

# IDE / Editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# ignore data directory
/data/
/results/
/samples/